.ref-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 15rem;
  border: 2px solid #000;
  background-color: rgb(202, 202, 202);
}

.ref {
  font-size: 18px;
  text-align: center;
  align-items: center;
}

.main-title {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 20px;
}

.date {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@media screen and (max-width: 576px) {
  .ref-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 2rem;
    border: 2px solid #000;
    background-color: rgb(202, 202, 202);
  }
}
