.h-container {
  display: flex;
  /* flex-direction: column; */
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
}

.logo-1 {
  height: auto;
  width: 100px;
}

.logo-2 {
  height: auto;
  width: 100px;
}

.title {
  font-size: 14px;
}

@media screen and (max-width: 576px) {
  .logo-1 {
    height: auto;
    width: 50px;
  }

  .logo-2 {
    height: auto;
    width: 50px;
  }

  .title {
    font-size: 8px;
  }
}
