.form-container {
  /* margin: 0.5rem; */
}

.col {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr {
  /* margin: 1rem; */
  padding: 2px;
  background-color: #000;
  color: #000;
  /* border: solid #000; */
}

input {
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: right;
}

.print-container {
  /* border: 1px solid #000; */
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem 2rem;
  width: 25%;
  font-size: 20px;
  font-weight: bold;
}

.links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.5rem 1rem;
}

@media screen and (max-width: 576px) {
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem 0.5rem;
    width: 50%;
    font-size: 14px;
    margin-bottom: 1rem;
  }

  .links ul {
    margin: 0;
  }
}
